# Ignore Cargo build directory
**/target/

# Ignore binary files
**/*.rs.bk
**/*.rs.save
**/*.rlib
**/*.o
**/*.exe
**/*.out
**/*.so
**/*.dll
**/*.dylib

# Ignore Cargo.lock files (optional, if you want to ignore them)
**/Cargo.lock

# Ignore editor files
.vscode/
.idea/
*.swp
*~